* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100%;
   
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(101, 68, 101),rgb(206, 206, 251));
    box-shadow: 0 0 1px rgba(84, 79, 223, 0.1);
  }
  
  nav.logo {
    display: flex;
    align-items: center;
    margin-right: 0 24px;
  }
  
  .logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin: 20px;
    cursor: pointer;
  }
  
  .logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-left: 2px;
  }
  
  nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 15px 0;
    background-color:plum;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  
  nav.open .sidebar {
    left: 0;
  }
  
  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  
  .sidebar-content .list {
    height: 45%;
    list-style: none;
  }
  
  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .list .nav-link:hover {
    background-color:rgb(205, 205, 245);
  }
  
  .nav-link .icon {
    margin-right: 20px;
    font-size: 20px;
    color: #707070;
  }
  
  .nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
  }
  
  .nav-link:hover .icon,
  .nav-link:hover .link {
    color: #fff;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }
  .section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .home:hover .nav-link[href="#home"],
  .contact:hover .nav-link[href="#contact"],
  .information:hover .nav-link[href="#information"],
  .guide:hover .nav-link[href="#guide"] {
    background-color: #4070f4;
  }
  
.home{
    background-image: url(img10.jpeg);
    background-repeat: no-repeat;
   
}
.contact{
    background-image: url(img6.jpeg);
    background-repeat: no-repeat;
   
}
.information{
    background-image: url(img4.jpeg);
    background-repeat: no-repeat;
   
}
.guide{
    background-image: url(img8.jpeg);
    background-repeat: no-repeat;
   
}


